<!-- test.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Your Privacy Knowledge</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/submitTest" method="POST">
        <h1>Test Your Privacy Knowledge</h1>

        <label>1. What is a secure way to protect your social media account?</label>
        <input type="radio" name="answers[0]" value="A"> Use a strong password<br>
        <input type="radio" name="answers[0]" value="B"> Share your password with friends<br>


        <button type="submit">Submit</button>
    </form>
</body>
</html>
